.card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    padding: 2rem;
}

.formSection {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



@media (min-width: 800px) {
    .card {
        flex-direction: row;
    }
}
